body{
	/*background-image: url("../img/home.png");*/
	background-color: #f3eeee;
}
body *{
}

h5{
	color:white;
	transform: translateY(0.1em);
	-webkit-transform: translateY(0.1em);
}

/*=======TOP FILLER=======*/
.filler {
	width: 100%;
	height: 80px;
}

/*=======TOPBAR=======*/
.topbar{
	width: 100%;
	height: 120px;
	position: fixed;
	z-index: 1;
	background-color: #f3eeee;

}
.topbar .logo{
	padding-left: 20px;
	padding-top: 20px;
	float:left;
	display: table-cell;
	vertical-align: middle;
}

.topbar img{
	height:80px;
}
.navbar{
	float:right;
	margin: 30px 20px;
}
.navbar>a{
	margin: 20px;
	padding:20px;
	vertical-align: middle;
}
.navbar a:hover{
	background-color: #00b0da;
	color: #f3eeee;
}

.top-bar-section a{
	background: none !important;
	color:black !important;
}
.top-bar-section a:hover{

}

/*=======CONTENT=======*/


.full{
	max-width: 100%;
}

.section-title{
	text-align: center;
	color: #00b0da;
	font-weight: bold;
}

.vision-top p{
	font-size: 1.5em;
	position: relative;
	margin-top: 200px;
	margin-bottom: 50px;
}

.strong{
	color: #00b0da;
	font-weight: bold;
}
.button{
	border-radius: 100px;
	padding: 0.8em 1.3em;
	font-size: 0.8em;
}



/*=======DIVIDER=======*/
.divider{
	position: relative !important;
	background-color: #00b0da;
	color: #f3eeee;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	/*overflow: hidden;*/
}
/*.divider:after{
	content: '';
	position: absolute;
    width:0;
    height:0;
    background-color: green;
    border-top:200px solid red;
    border-bottom:200px solid transparent;
    border-left:200px solid transparent;
    border-right:200px solid transparent;
}*/

/* berhubung tulisan kadang ga kliatan gara2 bg :v */
.textbox {
-moz-border-radius: 15px; /*for mozilla support*/
-webkit-border-radius: 15px; /*for chrome support*/
border-radius: 15px;
background-color : #00b0da;
}
/* end of note :v */
#greetings{
	background-image: url("../img/greetingsbg.png");
	background-repeat: repeat;
}
.divider>.row{
	height: 100%;
	position:relative;
}
.divider>.row>.columns:first-of-type{
	position:absolute; bottom:0;
}
.divider-title{
}

hop{
	position:relative;
	background-color: blue;
	display: block;
}
.divider:after{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top:80px solid #f3eeee;
  display:block;
  position:absolute;
  top:0px;
  content:'';
  left:15%;
}

/*=======GREETINGS=======*/

#greetings h2{
	font-size: 1em;
	color: #f3eeee;
	transform: translateY(2.8em);
	-webkit-transform: translateY(2.8em);
}
#greetings h1{
	transform: translateY(0.2em);
	-webkit-transform: translateY(0.2em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

/*=======VISION=======*/

#vision{
	text-align: center;
}

#vision>.row>.columns>*{
	color:#00b0da;
}

#vision>.row>.columns>p{
	color: black;
}

/*=======MISSION=======*/
#mission{
	text-align: center;
}
#mission>.row>.columns>*{
	color:#00b0da;
}
#mission ul{
    list-style-type: none;
}
#mission li{
	text-align: left;
  	color: black;
}
#mission li:before {
	color:#00b0da;
	content: '\f111'; /* FontAwesome char code inside the '' */
	font-family: FontAwesome; /* FontAwesome or whatever */
	display: inline-block;
	width: 1.2em; /* same as padding-left set on li */
	margin-left: -1.2em; /* same as padding-left set on li */
	margin-right: 1em;
	margin-top: 1em;
}
/*=======CULTURE=======*/

#culture{
	text-align: center;
}

#culture>.row>.columns>*{
	color:#00b0da;
}
#culture ul{
    list-style-type: none;
}
#culture li{
	text-align: left;
  	color: black;
}
#culture li:before {
	color:#00b0da;
  content: '\f111'; /* FontAwesome char code inside the '' */
  font-family: FontAwesome; /* FontAwesome or whatever */
  display: inline-block;
  width: 1.2em; /* same as padding-left set on li */
  margin-left: -1.2em; /* same as padding-left set on li */
  margin-right: 1em;
  margin-top: 1em;
}


/*=======FAMILY=======*/

#family h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#family h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#family p{
	margin-top: 3em;
}

/*=======STRUCTURE=======*/
#structure columns{
	padding:80px;
}

#structure .columns{
	height: 400px;
}

#structure .button{
	border-radius: 0;
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	transition: 0.3s;
	height: 90px;
}
#structure .button:hover{
	border-radius: 0;
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	transform: translateY(5px);
	transition: 0.5s;
}


#dpi{
	background-color: #00b0da;
	box-shadow: 0px 5px 0px 0px #0a99bb;
}#dpi:hover{
	box-shadow: 0px 0px 0px 0px #0a99bb;
}
#marketing{
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #27ae60;
}
#marketing:hover{
	box-shadow: 0px 0px 0px 0px #27ae60;
}
#product{
	background-color: #e74c3c;
	box-shadow: 0px 5px 0px 0px #c0392b;
}
#product:hover{
	box-shadow: 0px 0px 0px 0px #c0392b;
}
#resource{
	box-shadow: 0px 5px 0px 0px #f39c12;
	background-color: #f1c40f;
}
#resource:hover{
	box-shadow: 0px 0px 0px 0px #f39c12;
}
#technology{
	background-color: #34495e;
	box-shadow: 0px 5px 0px 0px #2c3e50;
}
#technology:hover{
	box-shadow: 0px 0px 0px 0px #2c3e50;
}
/*=======ORGANIZATION=======*/

#organization h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#organization h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#organization p{
	margin-top: 3em;
	margin-bottom: 5em;
}

/*=======COMPANY=======*/


#company h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#company h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}


/*=======ACTIVITIES=======*/

#products>.row{
}
#products .row-label{
	background-color: #e5e6e6;
	margin-top: 5em;
	margin-bottom: 2em;/*
	padding-top: 1em;
	padding-bottom: 1em;*/
}
#products .large-12>.row{
	padding: 1em 3em;
}
#products h2{
	color: #00b0da;
	font-size: 1.4em;
}
#products p{

}


/*=======CONTACT=======*/
#contact .row{
	padding-top: 2em;
	padding-bottom: 2em;
}
#contact p{
	margin-bottom: 0;
}
#contact h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(1.8em);
}
#contact h1{
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}




/*========Buat Modal Window========*/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	height: 80%;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* buat bagian structure */

/*Css Daniel*/
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.row{
	max-width: 85%;
}
.small{
	font-size: 80%;
}
.less-break{
	margin-top: -20px;
}
.padding-reset{
	padding: 0;
}
.vertical-space{
	margin-bottom: 15px!important;
}
.link:hover{
	color: #0078A0;
	cursor: pointer;
}

