body{
	/*background-image: url("../img/home.png");*/
	background-color: #f3eeee;
}
body *{
}

h5{
	color:white;
	transform: translateY(0.1em);
	-webkit-transform: translateY(0.1em);
}

/*=======TOP FILLER=======*/
.filler {
	width: 100%;
	height: 80px;
}

/*=======TOPBAR=======*/
.topbar{
	width: 100%;
	height: 120px;
	position: fixed;
	z-index: 1;
	background-color: #f3eeee;

}
.topbar .logo{
	padding-left: 20px;
	padding-top: 20px;
	float:left;
	display: table-cell;
	vertical-align: middle;
}

.topbar img{
	height:80px;
}
.navbar{
	float:right;
	margin: 30px 20px;
}
.navbar>a{
	margin: 10px;
	padding:20px;
	vertical-align: middle;
}
.navbar a:hover{
	background-color: #00b0da;
	color: #f3eeee;
}

.active{
	background-color: #00b0da;
	color: #f3eeee;
}

.top-bar-section a{
	background: none !important;
	color:black !important;
}
.top-bar-section a:hover{

}

/*=======CONTENT=======*/


.full{
	max-width: 100%;
}

.section-title{
	text-align: center;
	color: #00b0da;
	font-weight: bold;
}

.vision-top p{
	font-size: 1.5em;
	position: relative;
	margin-top: 200px;
	margin-bottom: 50px;
}

.strong{
	color: #00b0da;
	font-weight: bold;
}

#home .button{
	border-radius: 100px;
	padding: 0.8em 1.3em;
	font-size: 0.8em;
}

/*=======DIVIDER=======*/
.divider{
	position: relative !important;
	background-color: #00b0da;
	color: #f3eeee;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}
/*.divider:after{
	content: '';
	position: absolute;
    width:0;
    height:0;
    background-color: green;
    border-top:200px solid red;
    border-bottom:200px solid transparent;
    border-left:200px solid transparent;
    border-right:200px solid transparent;
}*/

#greetings{
	background-image: url("../img/greetingsbg.png");
	background-repeat: repeat;
}
.divider>.row{
	height: 100%;
	position:relative;
}
.divider>.row>.columns:first-of-type{
	position:absolute; bottom:0;
}
.divider-title{
}

hop{
	position:relative;
	background-color: blue;
	display: block;
}
.divider:after{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top:80px solid #f3eeee;
  display:block;
  position:absolute;
  top:0px;
  content:'';
  left:15%;
}

/*=======GREETINGS=======*/

#greetings h2{
	font-size: 1em;
	color: #f3eeee;
	transform: translateY(2.8em);
	-webkit-transform: translateY(2.8em);
}
#greetings h1{
	transform: translateY(0.2em);
	-webkit-transform: translateY(0.2em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

/*=======VISION=======*/

#vision{
	text-align: center;
}

#vision>.row>.columns>*{
	color:#00b0da;
}

#vision>.row>.columns>p{
	color: black;
}

/*=======MISSION=======*/
#mission{
	text-align: center;
}
#mission>.row>.columns>*{
	color:#00b0da;
}
#mission ul{
    list-style-type: none;
}
#mission li{
	text-align: left;
  	color: black;
}
#mission li:before {
	color:#00b0da;
	content: '\f111'; /* FontAwesome char code inside the '' */
	font-family: FontAwesome; /* FontAwesome or whatever */
	display: inline-block;
	width: 1.2em; /* same as padding-left set on li */
	margin-left: -1.2em; /* same as padding-left set on li */
	margin-right: 1em;
	margin-top: 1em;
}
/*=======CULTURE=======*/

#culture{
	text-align: center;
}

#culture>.row>.columns>*{
	color:#00b0da;
}
#culture ul{
    list-style-type: none;
}
#culture li{
	text-align: left;
  	color: black;
}
#culture li:before {
	color:#00b0da;
  content: '\f111'; /* FontAwesome char code inside the '' */
  font-family: FontAwesome; /* FontAwesome or whatever */
  display: inline-block;
  width: 1.2em; /* same as padding-left set on li */
  margin-left: -1.2em; /* same as padding-left set on li */
  margin-right: 1em;
  margin-top: 1em;
}


/*=======FAMILY=======*/

#family h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#family h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#family p{
	margin-top: 3em;
}

#family .button{
	border-radius: 100px;
	padding: 0.8em 1.3em;
	font-size: 0.8em;
}

/*=======STRUCTURE=======*/

#structure table{
	margin: 0;
	padding: 0;
	background-color: #f3eeee;
	width: 100%;
	border: 0;
}

#structure td{
	width: 25%;
}

#structure h2{
	color:#00b0da;
	margin-bottom:20px;
}

#structure .struc{
	transition: 0.3s;
	display: inline-block;
}

#structure .struc2{
	transition: 0.3s;
	display: inline-block;
}
#structure .struc:hover{
	transform: translateY(5px);
	transition: 0.5s;
}

#structure .struc2:hover{
	transform: translateY(-5px);
	transition: 0.5s;
}

.staff .image{
	overflow: hidden;
}
.staff .image img{
	object-position: center;
	object-fit:contain !important;
}

.staff .name{
	font-size: 1em;
	font-weight: bold;
	color: #10b1dd;
}
.staff .jabatan,.staff .nim{
	font-size: 1em;
	font-weight: bold;
	color: black;
	display: block;
}

/*=======HISTORY=======*/

.item-block{
	border-left: 5px solid #00b0da;
}
.item h2{
	color : #00b0da;
}

.ui-slider-handle{
	border-radius: 100px !important;
	height:2em !important;
	width:2em !important;
	transform: translateY(-0.5em);
	background-color: #00b0da !important;
}

#history h2{
	color:#00b0da;
	margin-bottom:20px;
}

/*=======ORGANIZATION=======*/

#organization{
	position:relative;
	clear:both;
	float:center;
}

#organization h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#organization h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#organization p{
	margin-top: 3em;
	margin-bottom: 5em;
}

/*=======COMPANY=======*/


#company h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#company h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

/*=======ALUMNUS=======*/


#alumnus h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(3.5em);
}
#alumnus h1{
	margin-top: 0;
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#alumnus p{
	margin-top: 3em;
	margin-bottom: 5em;
}


/*=======PRODUCTS=======*/

#products{
	background-color: #e5e6e6;
}

#products>.row{
	
}
#products .row-label{
	
}
#products .large-12>.row{

}
#products h2{
	color: #00b0da;
	font-size: 1.4em;
}
#products p{

}

/*=======ACTIVITIES=======*/

#activities{
	background-color: #e5e6e6;
}

#activities>.row{
	
}
#activities .row-label{
	
}
#activities .large-12>.row{

}
#activities h2{
	color: #00b0da;
	font-size: 1.4em;
}
#activities p{

}


/*=======CONTACT=======*/
#contact .row{
	padding-top: 2em;
	padding-bottom: 2em;
}
#contact p{
	margin-bottom: 0;
}
#contact h2{
	font-size: 1em;
	color: #f3eeee;
	margin-bottom: 0;
	transform: translateY(1.8em);
}
#contact h1{
	transform: translateY(0.4em);
	font-size: 5em;
	margin-bottom: 0;
	color: #f3eeee;
}

#contact a{
	text-decoration: none;
	color: #f3eeee;
}


/* buat bagian structure */

/*Css Daniel*/
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.row{
	max-width: 85%;
}
.small{
	font-size: 80%;
}
.less-break{
	margin-top: -20px;
}
.padding-reset{
	padding: 0;
}
.vertical-space{
	margin-bottom: 15px!important;
}
.link:hover{
	color: #0078A0;
	cursor: pointer;
}

#orgstaff{
	position:relative !important;
}

#orgstaff .divisi h2{
	color: #f3eeee;
	margin-bottom: 0;
	font-size:2em;
	text-align:center;
}

#orgstaff .staff{
	height:150px;
}

#orgstaff .divisi h4{
	color: #f3eeee;
	margin-bottom: 0;
	font-size:1.8em;
	text-align:left;
	padding-left:50px;
}

#orgstaff .divisi-header-bod{
	width:100%;
	height:50px;
	background-color:#00B0DA; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	transform: translateY(-2em);
	margin-top: 25px;
}

#orgstaff .divisi-header-marketing{
	width:100%;
	height:50px;
	background-color:#2ECC71; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	transform: translateY(-2em);
	margin-top: 25px;
}

#orgstaff .divisi-header-product{
	width:100%;
	height:50px;
	background-color:#E74C3C; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	transform: translateY(-2em);
	margin-top: 25px;
}

#orgstaff .divisi-header-resource{
	width:100%;
	height:50px;
	background-color:#F1C40F; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	transform: translateY(-2em);
	margin-top: 25px;
}

#orgstaff .divisi-header-technology{
	width:100%;
	height:50px;
	background-color:#34495E; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	transform: translateY(-2em);
	margin-top: 25px;
}

